.activity {
    display: none;
}

.drag_panel,
.feedback {
    padding: 0rem 2rem;
    width: 30%;
}

.feedback {
    display: none;
}

.drag_item {
    display: flex;
    flex-wrap: wrap;
}

.drop {
    border: 1px solid $black;
    padding: 1rem;
    width: 13vw;
    flex: 1;
    color: $brand;
    font-weight: bold;
}

.business_canvas {
    //border: 1px solid $black;
    height: calc(100vh - 120px);
    align-items: stretch;
}

.dropped_item {
    display: flex;
    flex-wrap: wrap;
}

.icon {
    padding-right: 0.5rem;
    padding-top: 0.5rem;

    img {
        width: 100px;
        cursor: pointer;
    }
}

.placed {
    img {
        width: 75px;
    }
}

.title {
    font-weight: bold;
    color: $brand;
}

.drop {
    .title {
        height: 20px;
        overflow: hidden;
        position: relative;

        span {
            position: relative;
        }
    }
}
.content{
    padding: 0.5rem 1rem;
}
.instr {
    /*padding: 0.5rem 1rem;*/
    padding-bottom: 1rem;
    color: $brand;
    font-style: italic;
}

